body{
    background-color: black;
}
.titulo_primer_link {
    background-color: rgb(183, 0, 255);
    border: 20px;
    text-align: center;
    font-size: 40px;
    size: 100%;
    border-radius: 10px;
}

p {
    color: rgb(255, 132, 222);
    text-align: center;
}


.image_hawaii {
    width: 50%;
    display:flex;
    justify-content: center;
 }

 .image_ardora{
    justify-content:center;
 

 }

 .container {
    display:flex;
    justify-content: center;
    flex-direction:row;
    width:100%;
 }



.primer_nombre1{
    font-size: 40px;
}

h1{
    color: rgb(255, 132, 222);
    text-align: center;
    font-size: 30px;
}


.aqui {
    background-color: rgb(255, 162, 0);
    border: 20px;
    text-align: center;
    font-size: 40px;
    size: 100%;
    border-radius: 10px;
}

h2{
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}

h3{
    color: antiquewhite;
    font-size: 30px;
    text-align:center

}
.primer_div{
    text-align: center;
    font-size: 40px;
}
.segundo_div{
    text-align: center;
    font-size: 40px;
}

.boton{
    margin-left: auto;
    margin-right: auto;
}

h4{
    color: rgb(0, 8, 255);
    text-align: center; 
}


.image_ardora{
   
    margin: 0 auto;
}

.container img{
    width:100%;
}